@charset "UTF-8";
@media screen and (max-width: 600px ) {
#centro {
    width: 320px;
    height: 240px;
}
}
@media screen and (max-width:768px ) and (min-width:600px) {
    #centro {
        width: 480px;
        height: 480px;
    }
}
@media screen and (min-width: 992x ) {
    #centro{
        width: 600px;
        height: 600px;
    }
}
#sb {
    background-color: #8B6343;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #E5E0D8;
    padding: 4px;
    margin-bottom: 0%;
    padding-left: 9px;
    font-family: "Merriweather", serif;
    margin-left: 40px;
    margin-right: 40px;
    font-family: "Arvo", serif;
  font-weight: 700;
  font-style: italic;
    
}
#info p {
    background-color: #B5713a;
    margin: 0%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    
}
#info {
    background-color: #B5713a;
    margin: 40px;
    margin-top: 0%;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

section
/* Nome do Estudante: Luan Portes Alves
 CTII117 */
{
    
    
    padding: 20px;
    margin: 20px;
    border-radius: 7px;
    color: #463324;
    display: block;
    flex: auto;
    text-align: justify;
}
body {
    background-color: #809671;
    color: #E5D2B8;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex: auto;
 
 
 
    font-family: Arial, Helvetica, sans-serif;
}
main{
    margin: auto;
    min-width: 320px;
    max-width: 800px;
    background-color: #E5D2B8;
}


header{

    align-items: center;
    justify-content: center;
    text-align: center;
    color: #463324;
    height: 270px;
display: grid;
    background: linear-gradient(#e4e1e1 ,#36302C);

    width: 100%;
}

figure {
    display: flex;
    flex: auto;
}
nav{

    padding: 9px;

    background-color: #36302C;

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.sobre {
    padding-right: 7px;
    color: #DFDCE3;
    cursor: pointer;
    height: 100% ;
    width: 100%;
    float:none;
    flex: auto;
display: inline;
    text-decoration: none;
align-items: center;
font-family: "Merriweather", serif;
margin: 0%;


}

.dif {
    padding-left: 7px;
    display: inline;
    color: #DFDCE3;
    cursor: pointer;
    height: 100%;
    flex: auto;
    align-items: center;
    text-decoration: none;
    float: none;
    font-family: "Merriweather", serif;
}
   

.sobre:hover {
    transition: 0.5s;
    height: 15px;
    width: 130px;
    color: #36302C;
    background-color: #e4e1e1;
    
}
.dif:hover {
    transition: 0.5s;
    height: 15px;
    width: 130px;
    color: #36302C;
    background-color: #e1e1e1;
}

aside {


    display: flex;

    
    margin: 2px;
    align-items: center;
}

.dist {
    float: left;
    display: block;

    border-radius: 7px;
    padding: 30px;
    
    margin: 2px;
    text-align: center;
    justify-content: center;
    align-items: center;

    
}
.dts {
    padding: 10px;
    display: flex;
    height: 20 px;


}
.card {

 min-width: 320px;
 max-width: 800px;
margin: 3px;
padding: 3px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;

}
.card section {
     display: inline-block  ; 
     
align-items: center;
    gap: 4px;
height: 224px;
    background-color: #732F17;
    flex: auto;
    float: none;
    padding: 8px;
    margin: 4px;
    line-height: 1px;
    

}
.card h3 {
    color: #E5E0D8;
    text-align: center;
}
.card img {
    padding-left: 65px;
    width: 380;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 360;
}
.card h1 {
    font-size: 20px;
     color: #e5E0D8;
     padding: 1px;
     text-align: center;
}
.card h2 {
    font-size: 15px;
    color: #BF7B54;
    padding: 8px;
text-align: center;
}
.card button {
    background-color: #2192FF;
    height: 35px;
    margin: 10px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    align-items: center;

}
.card button:hover{
    background-color: #1b79d1a1;
}
#diferenciais {
    background-color: #8B6343;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #E5E0D8;
    padding: 4px;
    margin-bottom: 0%;
    padding-left: 9px;
    font-family: "Arvo", serif;
  font-weight: 700;
  font-style: italic;
    
}
ul {
    background-color: #B5713a;
    margin-top: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#local {
    background: linear-gradient(to right, #B5713a, #d3c4ac);
    text-decoration: none;
    color: #732F17;
    border-radius: 3px;
    padding: 1px;
}
#t1 {
    background: linear-gradient(to right, #B5713a, #d3c4ac);
    text-decoration: none;
    color: #732F17;
    border-radius: 3px;
    padding: 1px;
}
#t2 {
    background: linear-gradient(to right, #B5713a, #d3c4ac);
    text-decoration: none;
    color: #732F17;
    border-radius: 3px;
    padding: 1px;
    margin: 4px;
}
#t2:hover {
    text-decoration: underline;
}
p {
    padding: 10px;

      font-family: "Alegreya", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    
    
}
#t1:hover {
    text-decoration: underline;
}
#local:hover {
    text-decoration: underline;
}