@charset "UTF-8";
@media screen and (max-width: 600px ) {
#centro {
    width: 320px;
    height: 240px;
}
main {
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    background-color: #E5D2B8;
    display: block;
}
}
@media screen and (max-width:768px ) and (min-width:600px) {
    #centro {
        width: 480px;
        height: 480px;        
    }
    main {
        min-width: 320px;
max-width: 800px;
margin: auto;
    background-color: #E5D2B8;
    display: block;
    }
}
@media screen and (min-width: 992x ) {
    main {
        min-width: 320px;
max-width: 992px;
margin: auto;
    background-color: #E5D2B8;
    display: block;
    }
    #centro{
        width: 600px;
        height: 600px;
        text-align: center;
        min-width: 320px;
max-width: 992px;

    }
}

#sb {
    background-color: #8B6343;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #E5E0D8;
    padding: 4px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 9px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: "Arvo", serif;
  font-weight: 700;
  font-style: italic;
    
}
main p{
    margin-top: 0%;
}
#info p {
    background-color: #B5713a;
    margin: 0%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    
}
#info {
    background-color: #B5713a;
    margin: 40px;
    margin-top: 0%;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

section
/* Nome do Estudante: Luan Portes Alves
 CTII117 */
{   
    padding: 20px;
    margin: 20px;
    border-radius: 7px;
    color: #463324;
    display: block;
    flex: auto;
    text-align: justify;
}
body {
    background-color: #809671;
    color: #E5D2B8;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    display: block;
    flex: auto;
    font-family: Arial, Helvetica, sans-serif;
}
#cent{
    text-align: center;
    align-items: center;
}
main{
    margin-top: 0%;
margin: auto;
min-width: 320px;
max-width: 992px;
    background-color: #E5D2B8;
    display: block;
}
header{
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #463324;
    height: 270px;
display: block;
    background: linear-gradient(#e4e1e1 ,#36302C);
    width: 100%;
}

figure {
    display: flex;
    flex: auto;
}
nav{

    padding: 9px;
display: block;
    background-color: #36302C;
margin: 0%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0%;
}
.sobre {
    padding-right: 7px;
    color: #DFDCE3;
    cursor: pointer;
    height: 100% ;
    width: 100%;
    float:none;
    flex: auto;
display: inline;
    text-decoration: none;
align-items: center;
font-family: "Merriweather", serif;
margin: 0%;
}

.dif {
    padding-left: 7px;
    display: inline;
    color: #DFDCE3;
    cursor: pointer;
    height: 100%;
    flex: auto;
    align-items: center;
    text-decoration: none;
    float: none;
    font-family: "Merriweather", serif;
}
.sobre:hover {
    transition: 0.5s;
    height: 15px;
    width: 130px;
    color: #36302C;
    background-color: #e4e1e1;   
}
.dif:hover {
    transition: 0.5s;
    height: 15px;
    width: 130px;
    color: #36302C;
    background-color: #e1e1e1;
}
aside {
    display: flex;
text-align: center;    
    margin: 2px;
    align-items: center;
}
.dist {
    float: left;
    display: block;
    border-radius: 7px;
    padding: 30px;   
    margin: 2px;
    text-align: center;
    justify-content: center;
    align-items: center;   
}
.dts {
    padding: 10px;
    display: flex;
    height: 20 px;
}
#diferenciais {
    background-color: #8B6343;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #E5E0D8;
    padding: 4px;
    margin-bottom: 0%;
    padding-left: 9px;
    font-family: "Arvo", serif;
  font-weight: 700;
  font-style: italic;
    
}
ul {
    background-color: #B5713a;
    margin-top: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#local {
    background: linear-gradient(to right, #B5713a, #d3c4ac);
    text-decoration: none;
    color: #732F17;
    border-radius: 3px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}
#t1 {
    background: linear-gradient(to right, #B5713a, #d3c4ac);
    text-decoration: none;
    color: #732F17;
    border-radius: 3px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}
#t2 {
    background: linear-gradient(to right, #B5713a, #d3c4ac);
    text-decoration: none;
    color: #732F17;
    border-radius: 3px;
    padding: 2px;
    padding-left: 5px;
    margin: 4px;
    padding-right: 5px;
}
#t2:hover {
    text-decoration: underline;
}
p {
    padding: 10px;

      font-family: "Alegreya", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;  
}
#t1:hover {
    text-decoration: underline;
}
#local:hover {
    text-decoration: underline;
}
#hub {
    background: linear-gradient(to right, #8B6343, #E5D2B8);
    
    color: #E5E0D8;
    padding: 4px;
   
    padding-left: 9px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: "Arvo", serif;
  font-weight: 700;
  font-style: italic;
}
#js{
    width: 100%;
    height: 31vh;
} 
    h2{
      font-size: clamp(0.9em, 1vw, 2em);
      margin: 0.2em 0;
      font-weight: 500;
    }
  
  
  .carossel-Container{
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid red;
    overflow: hidden;
  }
  
  .carossel-Slide{
    position: relative;
    display: flex;
    height: auto;
    width: 90%;
    overflow: visible;
    margin: 0 auto;
    border: 1px solid blue;
  }
  
  .item{
    position: relative;
    right: 0;
    flex: none;
    /* border: 1px solid yellow; */
    background-color: yellow;
    border-radius: 2px;
    margin-right: 0.2em;
    height: 21vh;
    width: 241.6px;
  
    /* width: 19.7385620915%; */
  
    width: calc(25% - 0.2em);
  
  /*  width: 19.63%; */
  
    transition: right 1s ease-out;
  
    box-sizing: content-box;
  }
  
  .btnCarossel{
    background: rgba(20,20,20,.5);
    width: 5%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;  
    align-items: center;
    justify-content: center;
  }
  
  .btnCarossel:hover{
    background: rgba(20,20,20,.65);
  }
    #seta{
      box-shadow: 2px -2px 0 1px #fff inset;
      transition: box-shadow 100ms;
    }
  
  
  
  
  .BtnBack{
    left: 0;
  }
    #seta{
      position: absolute;
    padding: 17%;
    box-shadow: 2px -2px 0 -1px #fff inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    margin: 0 auto;
    opacity: 0;
    transition: box-shadow 100ms;
    transform: rotate(45deg);
    }
  
  
  .BtnNext{
    right: 0;
  }
    #seta{
      position: absolute;
      padding: 17%;
      box-shadow: 2px -2px 0 -1px #fff inset;
      border: solid transparent;
      border-width: 0 0 2px 2px;
      margin: 0 auto;
      opacity: 0;
      transition: box-shadow 100ms;
    transform: rotate(225deg); 
    }
  